.SignUp{
    &_body{
        height: 100%;
        background: linear-gradient(0deg, transparent 0%, rgb(193, 99, 255) 100%);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }
    &_page{
        height: 100%;
    }
    &_title{
        font-size: 36px;
    }

    &__form{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__formfield{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }

    &__input{
        background-color: #ffffff33;
        border-radius: 6px;
        padding: 10px 30px;
        outline: none;
        color: #ddd;
    }
    &__label{

    }
}