.person{
    width: 90%;
    &__avatar{
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        padding-bottom: 100%;
    }

    &__link{
        display: grid;
        grid-template-columns: 1fr 5fr;
        align-items: center;
        gap: 15px;
        color: #ffffffaa;
        p{
            transition: transform 0.3s ease 0s;
        }
        &:hover{
            p{
                transform: translate(3%, 0);
            }
        }
        &.active{
            p{
                transform: translate(5%, 0);
                color: #fff;
            }
        }
    }
}