@use "sass:math";

.dialog_window {
    position: relative;
    height: 100%;
    &__wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        gap: 30px;
        padding: 20px 0;
        align-items: flex-start;
        

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 2px;
        }

        &::-webkit-scrollbar-track {
            background-color: #ffffff00;
            border-radius: 4px;

        }

        &::-webkit-scrollbar-thumb {
            background: linear-gradient(180deg, transparent 0%, #fff 30%, #fff 60%, transparent 100%);
            border-radius: 4px;

        }
    }



}
.dialogVoid{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #ffffff55;
}
.dialog {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__interface {
        form{
        display: grid;
        grid-template-columns: 21fr 1fr;
        align-items: center;
        gap: 20px;
        }
    }

    &__input {
        padding: 12px 8px;
        outline: none;
        width: 100%;
    }

    &__button {

        padding-bottom: 100%;
        position: relative;


        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
