.sidebar {
    height: 95%;
    padding: 30px;
    background: #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, transparent 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;

    &__link {
    position: relative;
    a {
        display: block;

        &::after {
            content: '';
            display: block;
            background-color: #fff;
            width: 0;
            height: 1.5px;
            position: absolute;
            bottom: -2px;
            left: 0;
            transition: width 0.3s ease 0s;
        }
        &.active::after{
            width: 100%;
        }

    }
    &__messagesCount{
        position: relative;
    }
}
}

.list {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-direction: column;

    &:not(:last-child) {
        margin-bottom: 60px;
    }
}



.other{
    &:not(:last-child) {
        margin-bottom: 60px;
    }
}

.count{
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translate(0, -50%);
    font-size: 16px;
    background-color: #00000033;
    padding: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active{
        visibility: visible;
    }
}