.loginForm{
        &__form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    &__buttonContainer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.validatedForm{
    &__formfield{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
        position: relative;
    }

    &__label{

    }

    &__input{
        padding: 10px 15px;
    }

    &__showIcon{
        height: 40%;
        position: absolute;
        top: 50%;
        right: 1%;
        transform: translate(0, -23%);
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover{
            transform: translate(0, -23%) scale(1.02);
        }
        &:active{
            transform: translate(0, -23%) scale(0.95);
        }
    }

}

.error{
    font-size: 16px;
    color: rgb(255, 110, 14);
}

.captcha{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}